#dashboard {
    width: 100%;
    overflow-y: auto;

    h1 {
        font-size: 2.4rem;
        font-weight: 600;
        color: #333;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    .dashboard__filters {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: space-between;

        .dashboard__filters__item {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            flex: 1 1 100%;

            @media (max-width: 768px) {
                flex: 1 1 100%;
                margin-bottom: 10px;
            }
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1.2rem;
            outline: none;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: #b88e2f;
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .dashboard__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        gap: 30px;
        margin-top: 30px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

        @media (min-width: 769px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .dashboard__content__item {
            background-color: #fff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .yearly_sales {
            grid-column: 1 / -1; // Spans all columns
            grid-row: auto;
            height: 400px;

            #yearly_sales_chart {
                width: 100%;
                height: 100%;
            }
        }

        .order_times {
            grid-column: 1;
            grid-row: auto;

            #order_times_chart {
                width: 100%;
                height: 100%;
            }
        }

        .number_of_orders {
            grid-column: 1;
            grid-row: auto;

            #number_of_orders_chart {
                width: 100%;
                height: 100%;
            }

            @media (min-width: 769px) {
                grid-column: 2;
                grid-row: 2;
            }
        }

        .total_revenue {
            grid-column: 1;
            grid-row: auto;

            #total_revenue_chart {
                width: 100%;
                height: 100%;
            }

            @media (min-width: 769px) {
                grid-column: 1;
                grid-row: 3;
            }
        }

        .top_products {
            grid-column: 1;
            grid-row: auto;

            #top_products_chart {
                width: 100%;
                height: 100%;
            }

            @media (min-width: 769px) {
                grid-column: 2;
                grid-row: 3;
            }
        }
    }
}