* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;

    font-size: 1.6rem;
    font-family: "Poppins";
}

main {
    margin-left: 270px;
    padding: 45px;
}

main.collapsed {
    margin-left: 85px;
}

a {
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

@import "navbar";
@import "accounts";
@import "accountDetails";
@import "login";
@import "register";
@import "profile";
@import "forgotPassword";
@import "resetCode";
@import "newPassword";
