<aside id="sidebar">
    <div class="sidebar-header">
        <a href="#!" class="header-logo">
            <img src="/img/logo.svg" alt="Furniro" />
        </a>

        <button class="toggler sidebar-toggler">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <button class="toggler menu-toggler">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <nav class="sidebar-nav">
        <ul class="nav-list primary-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-home nav-icon"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
                <span class="nav-tooltip">Dashboard</span>
            </li>
            <li class="nav-item">
                <a href="/users" class="nav-link">
                    <i class="fa-solid fa-user nav-icon"></i>
                    <span class="nav-label">Accounts</span>
                </a>
                <span class="nav-tooltip">Accounts</span>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link">
                    <i class="fa-solid fa-bag-shopping nav-icon"></i>
                    <span class="nav-label">Products</span>
                </a>
                <span class="nav-tooltip">Products</span>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link">
                    <i class="fa-solid fa-cart-shopping nav-icon"></i>
                    <span class="nav-label">Orders</span>
                </a>
                <span class="nav-tooltip">Orders</span>
            </li>
        </ul>

        <ul class="nav-list secondary-nav">
            <li class="nav-item">
                <a href="/profile" class="nav-link">
                    <i class="fa-solid fa-address-card nav-icon"></i>
                    <span class="nav-label">Profile</span>
                </a>
                <span class="nav-tooltip">Profile</span>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link" id="logoutLink">
                    <i
                        class="fa-solid fa-arrow-right-from-bracket nav-icon"
                    ></i>
                    <span class="nav-label">Logout</span>
                </a>
                <span class="nav-tooltip">Logout</span>
            </li>
        </ul>
    </nav>
</aside>

<script src="/script/navbar.js"></script>