<main id="dashboard">
    <h1>Dashboard</h1>
    <div class="dashboard__filters">
        <div class="dashboard__filters__item">
            <label for="startDate">From:</label>
            <input type="date" id="startDate" value="2024-01-01" min="2020-01-01" max="2100-12-31">
        </div> 

        <div class="dashboard__filters__item">
            <label for="endDate">To:</label>
            <input type="date" id="endDate" value="2024-12-31" min="2020-01-01" max="2100-12-31">
        </div>
 
    </div>
    

    <div class="dashboard__content">
        <div class="dashboard__content__item yearly_sales">
            <div id="yearly_sales_chart"></div>
        </div>

        <div class="dashboard__content__item order_times">
            <div id="order_times_chart"></div>
        </div> 

        <div class="dashboard__content__item number_of_orders">
            <div id="number_of_orders_chart"></div>
        </div>

        <div class="dashboard__content__item total_revenue">
            <div id="total_revenue_chart"></div>
        </div>

        <div class="dashboard__content__item top_products">
            <div id="top_products_chart"></div>
        </div>
    </div>
</main>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/script/dashboard.js"></script>