<main id="orderDetail" data-orderId="{{orderId}}">
    <div class="container">
        <div class="header-page">
            <h1 class="title">Order Detail</h1>
        </div>

        <div class="content-page">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product image</th>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>

                <tbody>
                    
                </tbody>
            </table>

            <div class="pagination">
                <div class="info">
                    <p class="text"></p>
                </div>

                <div class="actions">
                    <button class="btn btn-prev">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>

                    <button class="btn btn-next">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/script/orderDetail.js"></script>