<main id="manageOrder">
    <div class="container">
        <div class="header-page">
            <h1 class="title">Manage Orders</h1>

            <div class="actions">
                <div class="action search">
                    <div class="action search">
                    <i class="fa-solid fa-search"></i>

                    <input
                        type="text"
                        class="input-search"
                        placeholder="Search..."
                    />
                </div>
                </div>
            </div>
        </div>

        <div class="content-page">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Order Date</th>
                        <th>Order Status</th>
                        <th>Total</th>
                        <th>Delivery Method</th>
                        <th>Payment Method</th>
                    </tr>
                </thead>

                <tbody>
                    
                </tbody>
            </table>

            <div class="pagination">
                <div class="info">
                    <p class="text"></p>
                </div>

                <div class="actions">
                    <button class="btn btn-prev">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>

                    <button class="btn btn-next">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/script/orders.js"></script>