<main id="products">
    <div class="container">
        <div class="header-page">
            <h1 class="title">Manager Products</h1>

            <div class="actions">
                <div class="action search">
                    <i class="fa-solid fa-search"></i>

                    <input
                        type="text"
                        class="input-search"
                        placeholder="Search..."
                    />
                </div>
            </div> 
        </div>

        <div class="add-group">
            <button class="add-btn" id="btn-create">
                <i class="fa-solid fa-plus"></i>
                Create
            </button>
        </div>

        <div class="sort-options">

            <div class="sort-group">
                <label for="sort">Sort by:</label>
                <select id="sort" class="select-sort">
                    <option value="name">Name</option>
                    <option value="price">Price</option>
                    <option value="createdAt">Creation Time</option>
                </select>
            </div>

        </div> 

        <div class="filter-options">
            <div class="filter-group">
                <label for="category">Category:</label>
                <select id="category" class="select-filter">
                    <option value="">All</option>
                    <option value="Table">Table</option>
                </select>
            </div>

            <div class="filter-group">
                <label for="brand">Brand:</label>
                <select id="brand" class="select-filter">
                    <option value="">All</option>
                </select>
            </div>

        </div>

        <div class="content-page">
            <table class="table">
                <thead>
                    <tr>
                        <th>Images</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Creation Time</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

            <div class="pagination">
                <div class="info">
                    <p class="text"></p>
                </div>

                <div class="actions">
                    <button class="btn btn-prev">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>

                    <button class="btn btn-next">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/script/products.js"></script> 